body { 
    background-color: #e8eae8; 
    color: #5d665b; 
    margin: 20px;
    font-family: Verdana, Geneva, Arial, sans-serif; 
    font-size: 15px; 
    line-height: 180%;
}

h1 {
	text-align: center;
}

h2 {
    color:#966b72; 
    font-family:Georgia,"Times New Roman",Times,serif;
}

p {
     
    text-indent: 3em;
  }

#menu ul{
    margin:0;
    background-color: #3385ff;
    list-style: none;

}

#menu ul li{
    display: inline;

}




#menu ul li a{
    padding: 10px 10px;
    display: inline-block;
    color: white;
    text-decoration: none;
    font-size: 18px;
}

#menu ul li a: hover{
    color:#004d00;
}


a:link 
{ 
 text-decoration:none; 
} 

#divCenter { 
                background-color: #e1e1e1; 
                width: 400px; 
                height: 150px; 
                left: 50%; 
                margin: -130px 0 0 -210px; 
                padding:10px;
                position: absolute; 
                top: 50%; }

